<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login User</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="form-container">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="user@example.com"
              formControlName="email"
            />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <div
            *ngIf="
              loginFormData['email'].invalid &&
              (loginFormData['email'].dirty || loginFormData['email'].touched)
            "
          >
            <mat-error *ngIf="loginFormData['email'].errors?.email"
              >This email is not valid!</mat-error
            >
            <mat-error *ngIf="loginFormData['email'].errors?.required"
              >This field is required!</mat-error
            >
          </div>
        </div>

        <div class="form-container">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="password"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <div
            *ngIf="
              loginFormData['password'].invalid &&
              (loginFormData['password'].dirty ||
                loginFormData['password'].touched)
            "
          >
            <mat-error *ngIf="loginFormData['password'].errors?.required"
              >This field is required!</mat-error
            >
            <mat-error *ngIf="loginFormData['password'].errors?.minlength"
              >12 char at least!</mat-error
            >
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
