mat-card {
  padding: 3px;
  mat-card-title {
    text-align: center;
    margin-top: 5px;
  }

  mat-card-content {
    mat-list {
      display: flex;

      mat-list-item {
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    background-color: red($color: #000000);
  }
}
